version: '3.3'

services:

  main:
    build:
      context: ./services/main
      dockerfile: Dockerfile-prod
    expose:
      - 5000
    environment:
      - FLASK_ENV=production
      - APP_SETTINGS=project.config.ProductionConfig
      - DATABASE_URL=postgres://postgres:postgres@main-db:5432/main_prod
      - DATABASE_TEST_URL=postgres://postgres:postgres@main-db:5432/main_test
    depends_on:
      - main-db


  main-db:
    build:
      context: ./services/main/project/db
      dockerfile: Dockerfile
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  nginx:
    build:
      context: ./services/nginx
      dockerfile: Dockerfile-prod
    restart: always
    ports:
      - 80:80
    depends_on:
      - main
